# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
*.DS_Store

# Thumbnails
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.apdisk

# Resource forks
**/.AppleDouble
**/.LSOverride
**/._*

# Backup files
*-backup.plist
*.bak